.plyr {
    -webkit-box-shadow: 0 0 10px 0 rgba(255,255,255,0.6);
    -moz-box-shadow: 0 0 10px 0 rgba(255,255,255,0.6);
    box-shadow: 0 0 10px 0 rgba(255,255,255,0.6);
    min-height: 300px;
    max-height: 90vh;
}