.chat {
    min-width: 300px;
    height: max(calc((9 / 16) * 100vw), 400px);
    max-height: calc(100vh - 169px);
    background-color: #1f1f1f;
    flex-direction: column;
}

.chat .chat-input {
    vertical-align: bottom;
    background-color: #2d2d2d;
    border-radius: 0 0 0.25rem 0.25rem;
}

.chat .messages {
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

.chat .messages > div {
    flex-direction: column;
}

.chat .messages > div > div {
    background-color: #2d2d2d;
    width: calc(100% - 3rem - 0.5rem);
    overflow-x: hidden;
}

.chat .messages > div > div .media-body {
    width: calc(100% - 3rem - 0.5rem);
    overflow-wrap: break-word;
}

@media (min-width: 768px) {
    .chat .messages > div > div {
        width: calc(300px - 3rem - 0.5rem);
    }
}

.chat .messages .media .media-body {
    flex-direction: column;
}
