.player-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.player-overlay .player-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-overlay .player-center,
.player-overlay .player-controls {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.player-overlay:hover .player-center,
.player-overlay:hover .player-controls {
    opacity: 1;
}

.player-overlay .player-progress,
.player-overlay .volume-control {
    height: min(1em, 100%);
    display: flex;
    align-items: center;
}

.player-overlay input[type="range"] {
    cursor: pointer;
    appearance: none;
    background: 0 0;
    border: 0;
    border-radius: 26px;
    color: #1aafff;
    display: block;
    height: 19px;
    margin: 0;
    padding: 0;
    transition: box-shadow .3s ease;
    width: 100%;
    touch-action: manipulation;
}

.player-overlay input[type="range"]:focus {
    outline: none;
}

.player-overlay input[type="range"]::-moz-range-progress {
    background: currentColor;
}

.player-overlay input[type="range"]::-moz-range-thumb {
    background: #fff;
    border: 0;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, 0.2);
    height: 13px;
    width: 13px;
    z-index: 10;
    position: relative;
    transition: all .2s ease;
}

.player-overlay input[type="range"]::-moz-range-track {
    background-color: rgba(255, 255, 255, 0.25);
    border: 0;
    transition: box-shadow .3s ease;
    -moz-user-select: none;
    user-select: none;
}

.player-overlay input[type="range"]::-moz-range-track,
.player-overlay input[type="range"]::-moz-range-progress {
    border-radius: 3px;
    height: 5px;
    transform: scaleY(0.6);
    transition: transform 0.1s cubic-bezier(0.4, 0, 1, 1);
}

.player-overlay .player-progress:hover input[type="range"]::-moz-range-track,
.player-overlay .player-progress:hover input[type="range"]::-moz-range-progress,
.player-overlay .volume-control .volume-slider:hover input[type="range"]::-moz-range-track,
.player-overlay .volume-control .volume-slider:hover input[type="range"]::-moz-range-progress {
    transform: scaleY(1);
}

.player-overlay .player-controls .control-button {
    line-height: 1em;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.player-overlay .player-controls .control-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.player-overlay .volume-control .volume-slider {
    width: 6em;
    min-width: 6em;
    max-width: 6em;
}

.player-overlay .volume-control {
    overflow: hidden;
    width: 2.25em;
    transition: width 0.2s ease-in-out;
}

.player-overlay .volume-control:hover {
    width: 8.25em;
}
