.user-list {
    column-count: 1;
}

.user-list > .col {
    flex: 0 0 100%;
    width: 100%;
}

@media (min-width: 576px) {
    .user-list {
        column-count: 2;
    }

    .user-list > .col {
        flex: 0 0 50%;
        width: 50%;
    }
}

@media (min-width: 768px) {
    .user-list {
        column-count: 3;
    }

    .user-list > .col {
        flex: 0 0 33.33333%;
        width: 33.33333%;
    }
}

@media (min-width: 1200px) {
    .user-list {
        column-count: 4;
    }

    .user-list > .col {
        flex: 0 0 25%;
        width: 25%;
    }
}

@media (min-width: 1500px) {
    .user-list {
        column-count: 5;
    }

    .user-list > .col {
        flex: 0 0 20%;
        width: 20%;
    }
}

@media (min-width: 1900px) {
    .user-list {
        column-count: 6;
    }

    .user-list > .col {
        flex: 0 0 16.66666%;
        width: 16.66666%;
    }
}

.user:not(.you) {
    background-color: #1f1f1f;
}

.user.you > div.user-icon:hover,
.popover-body .user-icon:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.user .media-body {
    width: calc(100% - 48px - 0.5em);
}

.user.you .media-body .user-status,
.user.you .media-body .user-edit {
    height: 48px;
    flex-direction: column;
    flex-grow: 1;
    transition: opacity 0.2s ease-in-out;
}

.user.you .media-body .user-edit {
    justify-content: center;
    display: none;
    opacity: 0;
}

.user.you .media-body .user-status {
    display: flex;
    justify-content: space-between;
    opacity: 1;
}

.user.you .media-body:hover .user-edit {
    display: flex;
    opacity: 1;
}

.user.you .media-body:hover .user-status {
    display: none;
    opacity: 0;
}

#change-icon-popover.popover .popover-body {
    width: 365px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}
