.user-list {
    column-count: 1;
}

.user-list > .col {
    flex: 0 0 100%;
    width: 100%;
}

@media (min-width: 576px) {
    .user-list {
        column-count: 2;
    }

    .user-list > .col {
        flex: 0 0 50%;
        width: 50%;
    }
}

@media (min-width: 768px) {
    .user-list {
        column-count: 3;
    }

    .user-list > .col {
        flex: 0 0 33.33333%;
        width: 33.33333%;
    }
}

@media (min-width: 1200px) {
    .user-list {
        column-count: 4;
    }

    .user-list > .col {
        flex: 0 0 25%;
        width: 25%;
    }
}

@media (min-width: 1500px) {
    .user-list {
        column-count: 5;
    }

    .user-list > .col {
        flex: 0 0 20%;
        width: 20%;
    }
}

@media (min-width: 1900px) {
    .user-list {
        column-count: 6;
    }

    .user-list > .col {
        flex: 0 0 16.66666%;
        width: 16.66666%;
    }
}

.user:not(.bg-success) {
    background-color: #1f1f1f;
}
