#playerControl-playbackRate .popover-header {
    border-bottom-color: #121212;
}

#playerControl-playbackRate .popover-body {
    background-color: #2d2d2d;
    color: #fff;
}

.playbackRate-overlay {
    min-width: 120px;
    position: absolute;
    right: 1em;
    bottom: 4.25em;
    background-color: #2d2d2d;
}

.playbackRate-overlay .playbackRate-header {
    display: flex;
    flex-direction: row;
    border-bottom-color: #121212;
    background-color: #1f1f1f;
}

.playbackRate-overlay .form-check-label {
    width: 100%;
}
