/* input range slider */
.slider input[type="range"] {
    --value: 0%;
    --lower: #1aafff;
    --upper: rgba(255, 255, 255, 0.2);
    --thumb-size: 12px;
    --thumb-color: #fff;

    cursor: pointer;
    background: linear-gradient(to right, var(--lower) 0%, var(--lower) var(--value), var(--upper) var(--value), var(--upper) 100%);
    border-radius: 8px;
    height: 5px;
    width: 100%;
    outline: none;
    touch-action: manipulation;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.slider input[type="range"]:focus {
    outline: none;
}

/* thumb */

/* strangely I have to separate them, otherwise non of them recognizes the rule */
.slider input[type="range"]::-moz-range-thumb {
    width: var(--thumb-size);
    height: var(--thumb-size);
    background-color: var(--thumb-color);
    border-radius: 100%;
    cursor: pointer;
}

.slider input[type="range"]::-webkit-slider-thumb {
    width: var(--thumb-size);
    height: var(--thumb-size);
    background-color: var(--thumb-color);
    border-radius: 100%;
    cursor: pointer;
    -webkit-appearance: none;
}

.slider input[type="range"]::-ms-thumb {
    width: var(--thumb-size);
    height: var(--thumb-size);
    background-color: var(--thumb-color);
    border-radius: 100%;
    cursor: pointer;
}

/* edge */
.slider input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 5px 0;
    color: transparent;
    width: 100%;
    height: 5px;
    cursor: pointer;
}

.slider input[type=range]::-ms-fill-lower,
.slider input[type=range]:focus::-ms-fill-lower {
    background: var(--lower);
    border-radius: 3px;
}

.slider input[type=range]::-ms-fill-upper,
.slider input[type=range]:focus::-ms-fill-upper {
    background: var(--upper);
    border-radius: 3px;
}
