.queue {
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
}

.queue .queue-header {
    background-color: #2d2d2d;
    display: flex;
    flex-direction: row;
}

.queue .queue-items-list {
    margin: 0;
}

.queue .queue-item > div {
    background-color: #2d2d2d;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 208px;
    word-break: break-all;
}

.queue .queue-item.add-notice > div {
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.queue .queue-item.add-notice > div:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #28a745 !important;
}

@media (min-width: 470px) {
    .queue .queue-items-list {
        column-count: 2;
    }

    .queue-items-list > .queue-item {
        flex: 0 0 50%;
        width: 50%;
    }
}

@media (min-width: 684px) {
    .queue .queue-items-list {
        column-count: 3;
    }

    .queue-items-list > .queue-item {
        flex: 0 0 33.33333%;
        width: 33.33333%;
    }
}

@media (min-width: 900px) {
    .queue .queue-items-list {
        column-count: 4;
    }

    .queue-items-list > .queue-item {
        flex: 0 0 25%;
        width: 25%;
    }
}

@media (min-width: 1120px) {
    .queue .queue-items-list {
        column-count: 5;
    }

    .queue-items-list > .queue-item {
        flex: 0 0 20%;
        width: 20%;
    }
}

@media (min-width: 1340px) {
    .queue .queue-items-list {
        column-count: 6;
    }

    .queue-items-list > .queue-item {
        flex: 0 0 16.66666%;
        width: 16.66666%;
    }
}

@media (min-width: 1620px) {
    .queue .queue-items-list {
        column-count: 7;
    }

    .queue-items-list > .queue-item {
        flex: 0 0 14.285714%;
        width: 14.285714%;
    }
}

@media (min-width: 1900px) {
    .queue .queue-items-list {
        column-count: 8;
    }

    .queue-items-list > .queue-item {
        flex: 0 0 12.5%;
        width: 12.5%;
    }
}

@media (min-width: 2400px) {
    .queue .queue-items-list {
        column-count: 9;
    }

    .queue-items-list > .queue-item {
        flex: 0 0 11.11111%;
        width: 11.11111%;
    }
}

@media (min-width: 2700px) {
    .queue .queue-items-list {
        column-count: 10;
    }

    .queue-items-list > .queue-item {
        flex: 0 0 10%;
        width: 10%;
    }
}

@media (min-width: 2900px) {
    .queue .queue-items-list {
        column-count: 11;
    }

    .queue-items-list > .queue-item {
        flex: 0 0 9.090909%;
        width: 9.090909%;
    }
}

@media (min-width: 3200px) {
    .queue .queue-items-list {
        column-count: 12;
    }

    .queue-items-list > .queue-item {
        flex: 0 0 8.33333%;
        width: 8.33333%;
    }
}

.blink {
    -webkit-animation: blink 1s ease-in-out infinite both;
    animation: blink 1s ease-in-out infinite both;
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}
