html,
body {
    height: 100%;
    margin: 0;
    background-color: #121212;
    color: #fff;
}

html {
    overflow: hidden;
}

body {
    overflow: auto;
}

div.custom-control.custom-switch {
    flex-grow: 1;
    padding: 0;
}

.control-button {
    display: inline-flex;
    line-height: 1em;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.control-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
