html,
body {
    height: 100%;
    margin: 0;
    background-color: #121212;
    color: #fff;
}

html {
    overflow: hidden;
}

body {
    overflow: auto;
}

svg {
    width: 21px;
    height: 21px;
}

div.custom-control.custom-switch {
    flex-grow: 1;
    padding: 0;
}
